.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 10%;
  border-radius: 20px;
  padding: 5%;
  }
  
  .header-text {
    color: black;
    font-size: 2rem !important;
    font-weight: bold !important;
  }