.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 20px;
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 90%;
  padding: 5%;
  }
  
  .members {
    display: flex;
    justify-content: center;
    padding: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }